body {
    margin: auto 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    color: black;
    font-weight: normal;
}

h2{
    font-weight: normal;
}

li{
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
    
}

a {
    text-decoration: none;
    color: #008C5A;
}

a:hover{
    color:#84C7AF;
}

.nav-container {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-shadow: 0 0.2em 0.2em lightgray;
    z-index: 2;

}

.header-links {
    display: flex;
    flex-grow: 2.5;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    align-items: center;
    padding-bottom: 0;
}

.unavailable{
    color: #C5C5C5;
}

.header-links a:hover{
    color:#84C7AF;
}

.current-page{
    border-bottom: 3px solid #D00500;
}

.logo{

    display: flex;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content:center;
}

@media only screen and (max-width: 950px) {

    .header-links, .sign-in-button{
        font-size: 1em;
    }
}

.zone {
    background-color: #F3F3F3;
    border-radius: 2em;
    justify-self: stretch;
    align-self: stretch;
}

.search-area{
    display: flex;
    justify-self: stretch;
    align-self: center;
    text-align: center;
    margin: 15px;
    margin-top: 25px;
}

.subject-search{
    flex-grow: 1;
    padding: 1em;
    border-radius: 0 2em 2em 0;
    background: #f3f3f3;
    border: 0.2em solid #008C5A;
    border-left: none;
    outline: none;
    font-size: 1.05em;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.subject-search-button{
    padding-left: 3em;
    font-size: 1.05em;
    background: #f3f3f3 url("../img/search-solid-black.svg") center center/50% no-repeat;
    border-radius: 2em 0 0 2em;
    border: 0.2em solid #008C5A;
    border-right: none;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}

.subject-search-button-active{
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #008C5A;
    border-radius: 0;
    padding: 0.8em;
    border-right: none;
    background: url("../img/search-solid-black.svg") center center/50% no-repeat;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}

.subject-search-active{
    padding: 0.8em 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #008C5A;
    border-left: none;
    border-radius: 0;
    width: 100%;
    background-position: 100% center;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.footer-grid{
    display: flex;
    background-color: hsl(0, 0%, 9%);
    padding-left: 0.5em;
    padding-right: 0.5em;
    justify-content: flex-start;
    width: 100%;        
}

.footer-content{
    margin: 0 1em 0 1em;
    color: #FFFFFF;
    padding: 1em;
}

.footer-content h2{
    color:#D00500;
}

.main-container-resources{
    display: grid;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    justify-content: center;
}

.card-wrapper-resources{
    display: grid;
    grid-template-columns: auto;
}

.card-resources{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    margin: 15px;
}
