body {
    margin: auto 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    color: black;
    font-weight: normal;
}

h2{
    font-weight: normal;
}

li{
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
    
}

a {
    text-decoration: none;
    color: #008C5A;
}

a:hover{
    color:#84C7AF;
}
.sign-in-warning{
    background-color: #D9534F;
    grid-column: 1/-1;
    justify-self: stretch;
    text-align: center;
    color: #FFFFFF;
}

@media only screen and (max-width: 950px) {

    .header-links, .sign-in-button{
        font-size: 1em;
    }
}

.zone {
    background-color: #F3F3F3;
    border-radius: 2em;
    justify-self: stretch;
    align-self: stretch;

}

.card-wrapper{
    text-align: center;
}

.card{  
    background-color: #F3F3F3;
    border-radius: 2em;
    box-shadow: 0.2em 0.2em 0.1em lightgray;
    transition: transform 0.1s, rotate 0.1s, box-shadow 0.1s;

}

.card:hover {  
    transform: scale(1.1);
    box-shadow: 0.5em 0.5em 0.2em lightgray;
}


.card-image{
    justify-items: center;
    align-items: center;
    margin: 1em;
}

.card-text{
    background-color: #008C5A;
    color:#FFFFFF;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.card-text h2{
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
}

.footer-grid{
    display: flex;
    background-color: hsl(0, 0%, 9%);
    padding-left: 0.5em;
    padding-right: 0.5em;
    justify-content: flex-start;
    width: 100%;        
}

.footer-content{
    margin: 0 1em 0 1em;
    color: #FFFFFF;
    padding: 1em;
}

.footer-content h2{
    color:#D00500;
}

.sidebar-left {grid-area: sidebar-left;}
.sidebar-right{grid-area: sidebar-right;}
.card-wrapper-index{grid-area: card-wrapper-index;}
.sign-in-warning{grid-area: sign-in-warning;}
.welcome-banner{grid-area: welcome;}
.ncea-overview-wrapper{grid-area: ncea-overview;}
.body{grid-area: body;}

.main-container-signedout{
    display: grid;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "sign-in-warning sign-in-warning sign-in-warning"             
    "sidebar-left card-wrapper-index sidebar-right"
    "body body body";   
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;

}

.main-container-signedin{
    display: grid;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "welcome welcome welcome" 
    "ncea-overview ncea-overview ncea-overview"             
    "sidebar-left card-wrapper-index sidebar-right"
    "body body body";   
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;

}

.welcome-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:#008C5A;
    width: 100%;
    margin:0;
}

.welcome-name{
    padding:2%;
    color: #fff;
}

.welcome-nsn{
    padding:2%;
    color: #fff;
}

.sidebar-content{
    margin: 15px;
    text-align: left;
}

.body-content{
    margin: 0 10px 0 10px;
    text-align: left;
}

.ncea-overview-heading{grid-area: title;}
.graph-wrapper{grid-area: graph;}
.lastsubass{grid-area: lastsubass;}
.graph-controls{grid-area: controls;}
.ncea-details-button{grid-area: nceadetailsbutt;}

.ncea-overview-wrapper{
    display: grid;
    grid-template-areas: 
    'title title'
    'graph controls'
    'lastsubass nceadetailsbutt'; 
    background-color: #F3F3F3;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: 100%;
}

.ncea-overview-heading{
    background:#464646;
    color:#fff;
    padding: 3%;
    margin: 0;
    box-shadow: 0 0.2em 0.2em lightgray;
}

.ncea-overview-nsn{
    background:#b6b6b6;
    padding: 3%;
    margin: 0;
}

.graph-wrapper{
    display: grid;
}

.credit-goals-wrapper{
    grid-template-columns: 1fr 4fr;
    align-content: center;
}

.credit-goals-input{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    background:#008C5A;
    color: #fff
}
.credit-goals-input h3{
    color: #fff
}

.credit-goal-input-field{
    margin-bottom: 8%;
}

.graph{
    width: 65%;
    justify-self: center;
}

.stacked-bar-graph{
    width: 70%;
}


.graph-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ncea-overview-button{
    margin: 7%;
    padding: 3%;
}

.ncea-details-button-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}
#ncea-details-button{
    width: 80%;
    padding: 5%;
    justify-self: center;
    border-radius: 2em;
    text-decoration: none;
    border: none;
    align-self: center;
    color: #fff;
    background-color: #008C5A;
    font-size: 1.3em;
}

.lastsubass{
    color: #fff;
    text-align: left;
    padding: 5px;
    padding-left: 20px;
    margin: 5px;
}

.lastsubass h3{
    color: #fff;
}

.card-index:hover{
    transform: scale(1.05);
}

.card-wrapper-index {
    width:100%
}

.card-index{
    width:100%;
    background-color: #F3F3F3;
    border-radius: 2em;
    box-shadow: 0.2em 0.2em 0.1em lightgray;
    transition: transform 0.1s, rotate 0.1s, box-shadow 0.1s;
}

.card-wrapper-index{
    text-align: center;
}

.card-image-index{  
   width: 50%;
   padding:2em;
}
